<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Pirates Burguer's</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block>/*/-->
</head>
<body>

	<script type="text/javascript">
		
	</script>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(ingredients)}">
			<h2>Lista dos Ingredientes</h2>
			<table class="table table-striped">
				<tr>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Pre&ccedil;o</th>
					<th>Editar Pre&ccedil;o</th>
				</tr>
				<tr th:each="ingredient : ${ingredients}">
					<td th:text="${ingredient.description}">Descrição</td>
					<td th:text="${'R$: ' + ingredient.price}">Preço</td>

					<td>
						<button
							th:onclick="'javascript:editIngredientPriceAjaxPost(' + ${ingredient.id} + ')'"
							class="btn btn-success btn-lg">Editar</button>
					</td>
				</tr>
			</table>

			<h2>Lista dos Hamburgueres</h2>
			<table class="table table-striped">
				<tr>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Pre&ccedil;o</th>
				</tr>
				<tr th:each="hamburguer : ${burguers}">
					<td th:text="${hamburguer.description}">Descrição</td>
					<td th:text="${'R$: ' + hamburguer.price}">Preço</td>
				</tr>
			</table>

		</div>
	</div>

	<form>
		<div id="resultsBlock"></div>
	</form>

</body>
</html>