<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Pirates Burguer's</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block>/*/-->
</head>
<body>

	<script type="text/javascript">
		function retrieveHamburguerEdit(hamburguerId) {
			var url = '/hamburguer';

			if (hamburguerId != '') {
				url = url + '/' + hamburguerId;
			}

			$.ajax({
				url : url,
				success : function(data) {

					$('#resultsBlock').html(data);
					$("#myModal").modal("show");
				}
			});

		}
		
		function retrieveIngredientEdit(hamburguerId) {
			var url = '/hamburguer';

			if (hamburguerId != '') {
				url = url + '/' + hamburguerId;
			}

			$.ajax({
				url : url,
				success : function(data) {

					$('#resultsBlock').html(data);
					$("#myModal").modal("show");
				}
			});

		}

		$("#myModal").on('hide', function() {
			console.log('closing');

		});

		function addIngredientHamburguerAjaxPost(hamburguerId, ingredientId) {

			$.ajax({
				type : "POST",
				url : "/hamburguer/add/" + hamburguerId + "/" + ingredientId,
				success : function(data) {
					console.log('sucess');
					window.location.reload();
				}
			});

		}

		function removeIngredientHamburguerAjaxPost(hamburguerId, ingredientId) {

			$
					.ajax({
						type : "POST",
						url : "/hamburguer/remove/" + hamburguerId + "/"
								+ ingredientId,
						success : function(data) {
							console.log('sucess');
							window.location.reload();
						}
					});

		}
	</script>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(ingredients)}">
			<h2>Lista dos Ingredientes</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Pre&ccedil;o</th>
					<th>Editar Preço</th>
				</tr>
				<tr th:each="ingredient : ${ingredients}">
					<td th:text="${ingredient.id}"><a
						href="/product/${product.id}">Id</a></td>
					<td th:text="${ingredient.description}">Descrição</td>
					<td th:text="${'R$: ' + ingredient.price}">Preço</td>
				
					<td>
						<button
							th:onclick="'javascript:retrieveHamburguerEdit(' + ${hamburguer.id} + ')'"
							class="btn btn-success btn-lg">Editar</button>
					</td>
				</tr>
			</table>

			<h2>Lista dos Hamburgueres</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Pre&ccedil;o</th>
					<th>Editar Lanche</th>
				</tr>
				<tr th:each="hamburguer : ${burguers}">
					<td th:text="${hamburguer.id}"><a
						href="/product/${product.id}">Id</a></td>
					<td th:text="${hamburguer.description}">Descrição</td>
					<td th:text="${'R$: ' + hamburguer.price}">Preço</td>
					<td>
						<button
							th:onclick="'javascript:retrieveHamburguerEdit(' + ${hamburguer.id} + ')'"
							class="btn btn-success btn-lg">Editar</button>
					</td>
				</tr>
			</table>

		</div>
	</div>

	<!-- Guests list -->
	<form>
		<span class="subtitle">Form</span>

		<!-- Results block -->
		<div id="resultsBlock"></div>


	</form>

</body>
</html>