<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
	<div th:fragment="resultsList"
		th:unless="${#lists.isEmpty(hamburguerIngredients)}"
		class="results-block">
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" th:text="${hamburguerSelected.description}"></h4>
						<h5 th:text="${hamburguerSelected.id}"></h5>
						
					</div>
					<div class="modal-body">
						<table class="table table-striped">
							<tr>
								<th>Descri&ccedil;&atilde;o</th>
								<th>Pre&ccedil;o</th>
							</tr>
							<tr th:each="ingredient : ${hamburguerIngredients}">
								
								<td th:text="${ingredient.description}">Descrição</td>
								<td th:text="${'R$: ' + ingredient.price}">Preço</td>
								<td>
									<button										
										th:onclick="'javascript:addIngredientHamburguerAjaxPost(' + ${hamburguerSelected.id} + ',' + ${ingredient.id} + ')'"
										class="btn btn-success btn-lg">Adicionar</button>

								</td>
								
								<td>
									<button										
										th:onclick="'javascript:removeIngredientHamburguerAjaxPost(' + ${hamburguerSelected.id} + ',' + ${ingredient.id} + ')'"
										class="btn btn-error btn-lg">Remover</button>

								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>