<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
	<div th:fragment="resultsListIngredients" class="results-block">
		<!-- Modal -->
		<div id="myModalIngredient" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"
							th:text="${ingredientSelected.description}"></h4>
					</div>

					<div class="modal-body">
						<form id="ingredientEditForm" action="#" th:action="@{/ingredient/edit/}" th:object="${ingredientSelected}" method="post">
							<table class="table table-striped">
								<tr>
									<th>Descri&ccedil;&atilde;o</th>
									<th>Pre&ccedil;o</th>
								</tr>
								<tr>

									<td th:text="${ingredientSelected.description}">Descrição</td>
									<td><input type="text" id="ingredientPriceId"
										name="ingredientPrice" th:value="${ingredientSelected.price}" th:field="${ingredientSelected.price}" /></td>
									<td>
										<button type="submit" class="btn btn-success btn-lg">Alterar</button>

									</td>
								</tr>
							</table>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>