<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

     <title>Pirates Burguer's</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(ingredients)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="ingredient : ${ingredients}">
                <td th:text="${ingredient.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${ingredient.description}">Descrição</td>
                <td th:text="${ingredient.price}">Preço</td>
                <td><a th:href="${ '/menu/ingredient' + ingredient.id}">View</a></td>
                <td><a th:href="${'/menu/ingredient/edit/' + ingredient.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>