<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Pirates Burguer's</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(burguers)}">
			<h2>Escolha um dos Hamburgueres</h2>
			<h2>Lista dos Hamburgueres</h2>
			<table class="table table-striped">
				<tr>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Pre&ccedil;o</th>
					<th>Editar Lanche</th>
					<th>Adicionar ao Carrinho</th>
				</tr>
				<tr th:each="hamburguer : ${burguers}">
					<td th:text="${hamburguer.description}">Descrição</td>
					<td th:text="${'R$: ' + hamburguer.price}">Preço</td>
					<td>
						<button
							th:onclick="'javascript:retrieveHamburguerEdit(' + ${hamburguer.id} + ')'"
							class="btn btn-success btn-lg">Editar</button>
					</td>
					<td>
						<button
							th:onclick="'javascript:addHamburguerToCart(' + ${hamburguer.id} + ')'"
							class="fa fa-shopping-cart">Adicionar</button>
					</td>
				</tr>
			</table>
		</div>

		<div>
			<h2>Hamburgueres escolhidos</h2>
			<table class="table table-striped">
				<tr>
					<th>Descri&ccedil;&atilde;o</th>
					<th>Pre&ccedil;o</th>
				</tr>
				<tr th:each="hamburguer : ${hamburguersCartList}">
					<td th:text="${hamburguer.description}">Descrição</td>
					<td th:text="${'R$: ' + hamburguer.price}">Preço</td>
					<td>
						<button
							th:onclick="'javascript:removeHamburguerToCart(' + ${hamburguer.temporaryId} + ')'"
							class="fa fa-shopping-cart">Remover</button>
					</td>
				</tr>
			</table>
		</div>
		
		<div>
			<h1 th:text="${'R$: ' + totalPrice}">Preço Total</h1>
			
		</div>
		
		
	</div>

	<div>
		
		<form>
			<!-- Results block -->
			<div id="resultsBlock"></div>
		</form>
	</div>

</body>
</html>